body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  user-select: none;
  background: #ecf0f3;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}

.container {
  margin-left: 1.8em;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.content {
  width: 100%;
  margin-top: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row button {
  width: 60px;
  height: 30px;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 4px;
  transition: 0.1s;
  box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffff;
}

.row button:hover {
  box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1), inset -5px -5px 8px #fff;
  background: #fff;
}

.display #screen {
  margin-bottom: 0.5em;
  width: auto;
  height: 70px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 0.5em;
  background: #ecf0f3;
  border-radius: 6px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

#eval {
  background: rgb(4, 233, 4);
  color: #fff;
  box-shadow: inset 5px 5px 8px #1df001, inset -5px -5px 8px #09ff00;
}

#eval:hover {
  box-shadow: inset 5px 5px 8px #14eb0d, inset -5px -5px 8px #10eb2e;
}

#ac {
  background: black;
  color: #fff;
}

#ac:hover {
  box-shadow: inset 5px 5px 8px #000200, inset -5px -5px 8px #000000;
}

#ce {
  background: red;
  color: #fff;
}

#ce:hover {
  box-shadow: inset 5px 5px 8px #f53b3b, inset -5px -5px 8px #f54141;
}

@media only screen and (max-height: 920px) and (min-height: 870px) {
  .container {
    padding: 17px;
  }
  .row button {
    height: 25.5px; /* 15% smaller */
  }
  .display #screen {
    height: 59.5px; /* 15% smaller */
    font-size: 29.75px;
  }
}

@media only screen and (max-height: 870px) and (min-height: 820px) {
  .container {
    padding: 14.45px; /* 15% smaller */
  }
  .row button {
    height: 21.68px; /* 15% smaller */
  }
  .display #screen {
    height: 50.57px; /* 15% smaller */
    font-size: 25.28px; /* 15% smaller */
  }
}

@media only screen and (max-height: 820px) and (min-height: 770px) {
  .container {
    padding: 12.28px; /* 15% smaller */
  }
  .row button {
    height: 18.42px; /* 15% smaller */
  }
  .display #screen {
    height: 43px; /* 15% smaller */
    font-size: 21.49px; /* 15% smaller */
  }
}

@media only screen and (max-height: 770px) and (min-height: 720px) {
  .container {
    padding: 10.44px; /* 15% smaller */
  }
  .row button {
    height: 15.66px; /* 15% smaller */
  }
  .display #screen {
    height: 36.55px; /* 15% smaller */
    font-size: 18.26px; /* 15% smaller */
  }
}

/* Media query for screens with height between 670px and 720px */
@media only screen and (max-height: 720px) and (min-height: 670px) {
  .container {
    padding: 8.87px; /* 15% smaller */
  }
  .row button {
    height: 13.31px; /* 15% smaller */
  }
  .display #screen {
    height: 31.07px; /* 15% smaller */
    font-size: 15.52px; /* 15% smaller */
  }
}
@media only screen and (max-height: 670px) {
  .container {
    padding: 7.54px; /* 15% smaller */
  }
  .row button {
    height: 11.31px; /* 15% smaller */
  }
  .display #screen {
    height: 26.41px; /* 15% smaller */
    font-size: 13.19px; /* 15% smaller */
  }
}
