body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  user-select: none;
  background: #ecf0f3;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}

.container {
  margin-left: 1.8em;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.content {
  width: 100%;
  margin-top: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row button {
  width: 60px;
  height: 30px;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 4px;
  transition: 0.1s;
  box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffff;
}

.row button:hover {
  box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1), inset -5px -5px 8px #fff;
  background: #fff;
}

.display #screen {
  margin-bottom: 0.5em;
  width: auto;
  height: 70px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 0.5em;
  background: #ecf0f3;
  border-radius: 6px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

#eval {
  background: rgb(4, 233, 4);
  color: #fff;
  box-shadow: inset 5px 5px 8px #1df001, inset -5px -5px 8px #09ff00;
}

#eval:hover {
  box-shadow: inset 5px 5px 8px #14eb0d, inset -5px -5px 8px #10eb2e;
}

#ac {
  background: black;
  color: #fff;
}

#ac:hover {
  box-shadow: inset 5px 5px 8px #000200, inset -5px -5px 8px #000000;
}

#ce {
  background: red;
  color: #fff;
}

#ce:hover {
  box-shadow: inset 5px 5px 8px #f53b3b, inset -5px -5px 8px #f54141;
}

@media (max-width: 450px), (max-height: 920px) {
  .container {
    transform: scale(0.9);
  }
  
  h1 {
    font-size: 36px;
  }
  
  .row button {
    width: 54px;
    height: 27px;
    font-size: 14.4px;
  }
  
  .display #screen {
    height: 63px;
    font-size: 31.5px;
  }
}

@media (max-width: 420px) {
  .container {
    transform: scale(0.81);
  }
  
  h1 {
    font-size: 32.4px;
  }
}

@media (max-width: 390px) {
  .container {
    transform: scale(0.729);
  }
  
  h1 {
    font-size: 29.16px;
  }
}

@media (max-width: 360px) {
  .container {
    transform: scale(0.6561);
  }
  
  h1 {
    font-size: 26.244px;
  }
}

@media (max-width: 330px) {
  .container {
    transform: scale(0.59049);
  }
  
  h1 {
    font-size: 23.6196px;
  }
}
